* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgray;
  overflow: hidden;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  height: 83%;
  width: 200px;
  background-color: white;
  padding: 100px 30px;
  border-right-style: solid;
  border-color:#ef5d57 ;
}

.wrapper .main-content {
  width: 100%;
  margin: 100px 300px 249px ;
}

.main-content img {
  height: 300px;
  width: 300px;
}
nav {
  background-color:#ef5d57;
}

footer {
  padding: 10px 36px;
  background-color:#ef5d57;
  color: white;
}

.navbar-nav {
  padding-left: 80px;
}

.wrapper .main-content-links {
  width: 100%;
  margin: 100px 300px 370px ;
}

.ulist {
  padding-left: 40px;
}

button {
  margin-right: 30px;
}

.wrapper .main-content-tutlinks {
  width: 100%;
  margin: 100px 300px 410px;
}